<table>
  <tr>
    <td><%=  @owner.fullname %></td>
    <td><%= link_to "Delete", owner_path(@owner),
      method: :delete %></td>
  </tr>

   
</table>
 <%= link_to 'Add A Building', new_building_path %>





