<table>
  <tr>
    <%= @building.owner.first_name %>
    <p><%=  "#{@building.address} - #{@building.city}-#{@building.state}-#{@building.postal_code}" %></p>
    <%= @building.description %>
  </tr>
   
</table>
